trigger:
- main

variables:
  FunctionFolder: 'alarm-functions'
  FunctionAppName: 'pi-alarm'

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '10.x'
  displayName: 'Install Node.js'

- task: AzureCLI@2
  displayName: Azure CLI
  inputs:
    azureSubscription: 'ASP-alarmtrigger-a504 (Y1: 0)'
    scriptType: ps
    scriptLocation: inlineScript
    inlineScript: |
      az --version
      az account show

- script: |
    npm install -g serverless
    npm install
    sls deploy
  displayName: 'npm install and serverless deploy'
  workingDirectory: cloud-functions
  env:
    AZURE_SUBSCRIPTION_ID: $(AZURE_SUBSCRIPTION_ID)
    AZURE_TENANT_ID: $(AZURE_TENANT_ID)
    AZURE_CLIENT_ID: $(AZURE_CLIENT_ID)
    AZURE_CLIENT_SECRET: $(AZURE_CLIENT_SECRET)
